body {
    overflow: hidden !important;
}

#bingo-body .row{
    background: white;
    height: 100vh;
}

.marked {
    background: #d1d1d1 !important;
}

#winning-pattern-card tr td {
    width: 4rem;
    height: 4rem;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}