@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');

/* GABAY GURO COLOR */
/* #0f924 - green */
/* #d51e2d - red */

input:focus, textarea:focus, select:focus{
  outline: none;
}

body {
  outline: none !important;
  font-family: 'Roboto', sans-serif;
}


.gg-text {
  color: #209247;
}

.gg-bg {
  background: #0f9247;
}



/* OVERRIDE BOOTSTRAP CLASS: start */
.text-green {
  color: #209247 !important;
}
.btn {
  border: 0;
}
/* OVERRIDE BOOTSTRAP CLASS: end */

/* LOGIN PAGE: start */
#login-body {
  height: 100vh;
  background: #0f8787;
}

#gg-login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  border-top: unset !important;
  border-radius: 1rem !important;
  padding-bottom: 2rem !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

#gg-login-container .title, .gg-text {
  color: #58ceb5;
}

#gg-login-container .gg-bg {
  background: #2bbc9b;
}

#gg-login-container .title{
  font-weight: 900;
  font-size: 3rem;
}

.custorm-form-login {
  background: #e6ebef;
  border: 0;
  border-top-right-radius: 0px;
}

#bingo-body .row{
  padding-top: 2rem;
  height: 80vh;
}
/* LOGIN PAGE: end */